/* All Content Styling */

body {
    background-color: white;
}

/* Booking Form Styling */

#div_id_guests {
    padding-bottom: 15px;
}

.asteriskField {
    color: red;
}

/* Account SignUp Styling */

.signup_heading {
    text-transform: uppercase;
    text-decoration: underline;
}

#signup_form label {
    display: none;
}

/* Account Login Styling */

.signin_heading {
    text-transform: uppercase;
    text-decoration: underline;
}