/* All Content Styling */

body {
    background-color: white;
}

/* Booking Form Styling */

#div_id_guests {
    padding-bottom: 15px;
}

.asteriskField {
    color: red;
}

/* Account SignUp Styling */

.signup_heading {
    text-transform: uppercase;
    text-decoration: underline;
}

#signup_form label {
    display: none;
}

#signup_form input {
    width: 30%;
}

@media screen and (max-width: 992px) {
    #signup_form input {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    #signup_form input {
        width: 90%;
    }
}

/* Account Login Styling */

.signin_heading {
    text-transform: uppercase;
    text-decoration: underline;
}