/* All content styling */

body {
    background-color: white;
}

/* Header Styling */

header {
    background-color: white;
}

/* Footer Styling  */

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.site-content {
    flex: 1;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 150px;
    border-radius: 25px;
}

/* Booking Form Styling */

#div_id_guests {
    padding-bottom: 15px;
}

.asteriskField {
    color: red;
}

/* Account Sign-Up Styling */

.signup_heading {
    text-transform: uppercase;
    text-decoration: underline;
}

#signup_form label {
    display: none;
}

#signup_form input {
    width: 30%;
}

@media screen and (max-width: 992px) {
    #signup_form input {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    #signup_form input {
        width: 90%;
    }
}

/* Account Login Styling */

.signin_heading {
    text-transform: uppercase;
    text-decoration: underline;
}

/* Account Sign-Out Styling */

.signout_heading {
    text-transform: uppercase;
    text-decoration: underline;
}

/* Index Page Styling */

.hero {
    max-width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content img {
    height: 100%;
    width: 100%;
}

.logo {
    color: black;
    font-size: 80px;
}