/* All content styling */

body {
    background-color: white;
}

/* Header Styling */

header {
    background-color: yellow;
}

/* Footer Styling  */

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.site-content {
    flex: 1;
    width: 100%;
    height: 100%;
}

/* Booking Form Styling */

#div_id_guests {
    padding-bottom: 15px;
}

.asteriskField {
    color: red;
}

/* Account Sign-Up Styling */

.signup_heading {
    text-transform: uppercase;
    text-decoration: underline;
}

#signup_form label {
    display: none;
}

#signup_form input {
    width: 30%;
}

@media screen and (max-width: 992px) {
    #signup_form input {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    #signup_form input {
        width: 90%;
    }
}

/* Account Login Styling */

.signin_heading {
    text-transform: uppercase;
    text-decoration: underline;
}

/* Account Sign-Out Styling */

.signout_heading {
    text-transform: uppercase;
    text-decoration: underline;
}

/* Index Page Styling */

.hero {
    width: 100%;
    height: 560px;
    background-color: green;
    display: flex;
    flex-direction: column;
}

.hero-content {
    background-color: purple;
    margin-top: auto;
}