{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <!-- link stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- title, adjust later -->
    <title>Restaurant Name</title>
</head>

<body>
    <!-- header to include navigation and website name -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Restaurant Name</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'booking' %}">Make a Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reservations' %}">My Reservations</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Make a Booking</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        
        {% endblock content %}
    </main>
    <!-- footer -->
    <footer class="footer fixed-bottom bg-light text-center text-lg-start ">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column for Contact Details-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact Details</h5>

                    <p>
                        <span>Address:</span> 196 Ashby Road West, Shepshed, Leicestershire. LE129EF.
                    </p>
                    <p>
                        <span>Phone:</span> +44 1509 507006
                    </p>
                    <p>
                        <span>Email:</span> info@RestaurantName.co.uk
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column for Opening Hours-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Opening Hours</h5>
                    <ul>
                        <li>
                            Monday: <span>Closed</span>
                        </li>
                        <li>
                            Tuesday: <span>Open 5:00PM - 10:00PM</span>
                        </li>
                        <li>
                            Wednesday: <span>Open 5:00PM - 10:00PM</span>
                        </li>
                        <li>
                            Thursday: <span>Open 5:00PM - 10:00PM</span>
                        </li>
                        <li>
                            Friday: <span>Open 5:00PM - 10:00PM</span>
                        </li>
                        <li>
                            Saturday: <span>Open 5:00PM - 10:00PM</span>
                        </li>
                        <li>
                            Sunday: <span>Closed</span>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Social Media Links -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <ul>
                <li>
                </li>
                <a href="https://en-gb.facebook.com/" target="_blank" rel="noopener"
                    aria-label="visit our Facebook page (opens in a new tab)"><i
                        class="fab fa-facebook-square ms-3"></i></a>
                <li>
                    <a href="https://twitter.com/" target="_blank" rel="noopener"
                        aria-label="visit our Twitter page (opens in a new tab)"><i
                            class="fab fa-twitter-square ms-3"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                        aria-label="visit our Instagram page (opens in a new tab)"><i
                            class="fab fa-instagram-square ms-3"></i></a>
                </li>
            </ul>
        </div>
        <!-- Social Media Links -->
    </footer>
</body>

</html>