{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container mb-3">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Make A Booking</h2>
            <form method="POST" action="{% url 'booking' %}">
                {{ booking_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-dark" value="Post">Request a Booking</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}