{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid hero">
  </div>
<div class="container p-2">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h5>Welcome to The White Horse Restaurant</h5>
            <p>
                One of the oldest public houses in Shepshed. Now predominately a country pub &
                restaurant oozing rural charm and rustic character. Being close to The National Forest in
                Charnwood & University Market Town of Loughborough. Our picturesque
                surroundings provide the perfect backdrop for savouring the hearty, seasonal pub-food on our menu,
                and the carefully nurtured cask ales and fine wines, spirits and cocktails gracing our bar. Book a
                table online and enjoy a spot by our feature fireplace with a wood burning stove.
            </p>
            <p>
                Traditionally built, warm welcoming venue where you can enjoy a fine Restaurant & Bar experience.
                During the month and at special times we also have entertainment evenings from
                relaxing piano playing to live bands.
            </p>
        </div>
        <div class="col-lg-6 col-md-12">
            <h6>Facilities</h6>
            <p>
                In April 2015 we re-opened with an extension almost doubling the original size, using local
                contemporary stone giving a country air welcoming feel from the outside. Whilst inside using light
                oak
                suspended beams and a feature fireplace with wood burning stove for those cooler days inside.
                Our alfresco eatery offers an oak wood oven baked pizzeria, which are
                available throughout the day & evenings. All food is freshly prepared on site using produce,
                where ever possible, sourced locally within a 5 mile radius.
            </p>
            <h6>Accessibility</h6>
            <p>
                Disabled parking access and toilet facilities throughout. We will also try to accommodate any and
                all food allergies.
            </p>
        </div>
    </div>
</div>
{%endblock%}