{% extends "base.html" %}

{% block content %}
<div class="jumbotron hero">
    <div class="container hero-content">
        <div class="row">
            <div class="col-6">
                <h5>Welcome to The White Horse Restaurant</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe sunt deleniti, voluptates dolore
                    laborum numquam mollitia earum aliquam animi dolores! Quae praesentium tenetur dolorum voluptas
                    tempora ab consequuntur alias repudiandae? Repellat, vero architecto ut voluptatem suscipit incidunt
                    voluptate quod aperiam eaque, deserunt ex alias soluta. Quos itaque nulla nisi magnam!
                </p>
            </div>
            <div class="col-6">
                <h6>Facilities</h6>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus exercitationem eaque magni
                    adipisci magnam rem sequi nulla consequuntur debitis autem.
                </p>
                <h6>Accessibility</h6>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolor esse porro est quos. Dolores
                    iusto sapiente quasi velit accusamus!
                </p>
            </div>
        </div>
    </div>
</div>
{%endblock%}